.aboutme__maincontainer{
    height: 100vh;
    margin: 50px 0 0 0 ;
}

.aboutme__mainheading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme__mainheading > h4{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 400;
}

.aboutme__mainheading > h1{
    margin-top:0;
    font-size: 50px;
}

.aboutme__body{
    margin-top:8% ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.body__profileimage{
    grid-area: 1 / 1 / 3 / 2; 
    display: flex;
    justify-content: center;
}

.body__secondimage{
    width:50%;

}

.body__information{
    
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    margin-right: 10%;
}

.bodyinformation__experience{
    border: 2px solid var(--text_colour);
    border-radius: 25px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyinformation__experience > h4, .bodyinformation__experience > p, .bodyinformation__education > h4, .bodyinformation__education > p {
    margin: 0;
}

.bodyinformation__education{
    border: 2px solid var(--text_colour);
    border-radius: 25px;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyinformation__introduction{
    grid-area: 2 / 1 / 3 / 3;
}

@media (max-width: 575.98px) {

    .aboutme__body{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        justify-content: center;
        align-items: center;
    }

    .body__information{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        padding: 15%;
        margin-right: 0;
        height: auto;
    }

    .bodyinformation__experience, .bodyinformation__education{
        padding: 10% 5%;
        margin: 5%;
    }


}