.aboutme__maincontainer{
    height: fit-content;
    margin: 50px 0 0 0 ;
}

.aboutme__mainheading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme__mainheading > h4{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 400;
}

.bodyinformation__education{
    width: fit-content;
    height: auto;
    margin: 2em;
    background-color: var(--text_colour);
    color: var(--mainbody_colour);
    padding: 2em;
    border-radius: 25px;
    box-shadow:  0 0 20px var(--text_colour);
    
}

.bodyinformation__education > p{
    text-align: center;
    margin: 0;
    color: rgb(171, 171, 171);
}

.bodyinformation__education > h4{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    margin-bottom:0.5rem;
    font-size: larger;
}

.bodyinformation__experience > h1{
    text-align: center;
    margin: 4% 0 3% 0;
}

.bodyinformation__introduction > p{
    padding: 1rem 5rem;
}

.vertical-timeline-element-content{
    background: var(--text_colour) !important;
    color: var(--mainbody_colour) !important;
}

.vertical-timeline-element-content-arrow{
    border-right: 7px solid var(--text_colour) !important;
}

.vertical-timeline-element-icon{
    background-color: var(--mainbody_colour) !important;
    color: var(--text_colour) !important;
    box-shadow: 0 0 0 4px var(--text_colour), inset 0 0px 100px var(--mainbody_colour), 0 0px 0  var(--mainbody_colour) !important;
}

.vertical-timeline::before {
    background: var(--text_colour) !important;
}

.vertical-timeline-element-icon svg{
   fill: var(--text_colour) !important;
}

.vertical-timeline-element-content p{
    font-weight: lighter !important;
}

.vertical-timeline-element-date{
    color: rgb(128, 128, 128) !important;
}

@media (max-width: 575.98px) {

  .aboutme__maincontainer{
    margin: 10% 0 0 0;
  }

  .bodyinformation__introduction > p{
    padding: 1em;
  }

}
