.experience__maincontainer{
    height: 100vh;
    margin: 100px 0 0 0 ;
}

.experience__mainheading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience__mainheading > h4{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 400;
}

.experience__mainheading > h1{
    margin-top:0;
    font-size: 50px;
}

.experience__mainbody{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
    width: 90%;
    margin-left: 5%;
}

span{
    font-size: small;
    color: rgb(91, 91, 91);
    margin: 0;
    padding: 0;
}

p{
    margin-block-end: 0;
    font-weight: bold;
}

.skills__box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 0px;
}

.skills__box__backend{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.skills__box__networking{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.experience__objectoriented{
    grid-area: 1 / 1 / 2 / 2;
    border: 2px solid var(--text_colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.experience__frontend{
    grid-area: 1 / 2 / 2 / 3;
    border: 2px solid var(--text_colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.experience__backend{
    grid-area: 1 / 3 / 2 / 4;
    border: 2px solid var(--text_colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.experience__networking{
    grid-area: 2 / 1 / 3 / 4;
    border: 2px solid var(--text_colour);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    border-radius: 20px;
}