.header__container{
    width: 90%;
    height: fit-content;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 10%;
    font-weight: 600;
}

