.projects__maincontainer{
    height: 85vh;
    margin: 100px 0 0 0 ;
}

.projects__mainheading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__mainheading > h4{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 400;
}

.projects__mainheading > h1{
    margin-top:0;
    font-size: 50px;
}

.projects__mainbody{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    width: 90%;
    margin-left: 5%;
}

.project__one, .project__two, .project__three{
    display: flex;
    padding: 40px;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text_colour);
}

p{
    font-weight: 400;
}

.projectsAmazonImage , .Game2048Image, .lostandfoundImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__projectHeader{
    display: flex;
    align-items: center;
    justify-self: center;
}